dist/
.DS_Store
node_modules/
dist/
coverage/
*.log
*.tsbuildinfo
*.env*
.vscode/
.idea/
tmp/
temp/
out/
build/
benchmarks/*.out
docs/api/
docs/.DS_Store
docs/*.log
docs/*.tmp
docs/*.out
examples/*.out
examples/*.log
examples/*.tmp
tests/**/*.out
tests/**/*.log
tests/**/*.tmp
scripts/*.out
scripts/*.log
scripts/*.tmp
pnpm-debug.log*
yarn-error.log*
npm-debug.log*
package-lock.json
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
TODO.md